.header-icons-nav {
  display: flex;
  column-gap: 24px;

  .header-icons-nav-item {
    display: flex;
    align-items: center;

    &:hover{
      transform: scale(1.1);
    }
  }
}

@media all and (max-width: 470px) {
  .header-icons-nav-item {
    .header-icons-nav-item-img {
      width: 80%;
    }
  }
}
